name: animated_scrollable
description: A customizable animated scrollable scaffold with flexible header and items list.
version: 1.0.0
homepage: https://github.com/viniciussoaresm/animated_scrollable_lib

environment:
  sdk: ^3.10.8
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
